In [2]:
import numpy as np
import pandas as pd

In [120]:
path1='Data/Training/CSV/built-in-exceptions.csv'
path2='Data/Training/CSV/built-in-types.csv'
path3='Data/Training/CSV/string.csv'
path4='Data/Training/CSV/regex.csv'
df1=pd.read_csv(path1)
df2=pd.read_csv(path2)
df3=pd.read_csv(path3)
df4=pd.read_csv(path4)

In [121]:
df1['label']=0
df2['label']=1
df3['label']=2
df4['label']=3

In [122]:
df1

,Unnamed: 0,content,topic,label
0,0,"In Python, all exceptions must be instances of...",Built-in Exceptions,0
1,1,In a try statement with an except clause tha...,Built-in Exceptions,0
2,2,Two exception classes that are not related v...,Built-in Exceptions,0
3,3,The built-in exceptions listed below can be g...,Built-in Exceptions,0
4,4,"Except where mentioned, they have an “associ...",Built-in Exceptions,0
5,5,This may be a string or a tuple of several i...,Built-in Exceptions,0
6,6,g,Built-in Exceptions,0
7,7,", an error code and a string explaining the code)",Built-in Exceptions,0
8,8,The associated value is usually passed as ar...,Built-in Exceptions,0
9,9,User code can raise built-in exceptions,Built-in Exceptions,0
10,10,This can be used to test an exception handle...,Built-in Exceptions,0
11,11,The built-in exception classes can be subclas...,Built-in Exceptions,0
12,12,More information on defining exceptions is a...,Built-in Exceptions,0
13,13,NaN,Built-in Exceptions,0
14,14,When raising a new exception while another ex...,Built-in Exceptions,0
15,15,An exception may be handled when an except o...,Built-in Exceptions,0
16,16,This implicit exception context can be supple...,Built-in Exceptions,0
17,17,It will be set as __cause__ on the raised exc...,Built-in Exceptions,0
18,18,Setting __cause__ also implicitly sets the __...,Built-in Exceptions,0
19,19,g,Built-in Exceptions,0
20,20,"converting KeyError to AttributeError), while...",Built-in Exceptions,0
21,21,The default traceback display code shows thes...,Built-in Exceptions,0
22,22,An explicitly chained exception in __cause__ ...,Built-in Exceptions,0
23,23,An implicitly chained exception in __context_...,Built-in Exceptions,0
24,24,"In either case, the exception itself is alway...",Built-in Exceptions,0
25,25,NaN,Built-in Exceptions,0
26,26,User code can create subclasses that inherit ...,Built-in Exceptions,0
27,27,It’s recommended to only subclass one excepti...,Built-in Exceptions,0
28,28,NaN,Built-in Exceptions,0
29,29,The following exceptions are used mostly as b...,Built-in Exceptions,0
30,30,NaN,Built-in Exceptions,0
31,31,The following exceptions are the exceptions t...,Built-in Exceptions,0
32,32,The following exceptions are kept for compati...,Built-in Exceptions,0
33,33,"3, they are aliases of OSError",Built-in Exceptions,0
34,34,NaN,Built-in Exceptions,0
35,35,The following exceptions are used as warning ...,Built-in Exceptions,0
36,36,NaN,Built-in Exceptions,0
37,37,The following are used when it is necessary t...,Built-in Exceptions,0
38,38,They are part of the exception hierarchy so t...,Built-in Exceptions,0
39,39,"In addition, they are recognised by except*, ...",Built-in Exceptions,0
40,40,NaN,Built-in Exceptions,0
41,41,The class hierarchy for built-in exceptions is:,Built-in Exceptions,0

In [123]:
# merge 3 rows into 1 row using for loop
def merge_rows(dfw):
    dfw = dfw.dropna()
    dfw.reset_index(drop=True, inplace=True)
    dfw.drop(['Unnamed: 0'], axis=1, inplace=True)
    df=pd.DataFrame(columns=['content', 'topic', 'label'])
    for i in range(0,dfw.shape[0],3):
        temp=pd.DataFrame()
        # join 3 sentences into 1
        temp1= dfw['content'].iloc[i:i+3].str.cat(sep='.')
        temp2=dfw['topic'][i]
        temp3=dfw['label'][i]
        temp = pd.DataFrame([temp1, temp2, temp3], index=['content', 'topic', 'label']).T
        df=df.append(temp, ignore_index=True)

    return df

df1=merge_rows(df1)
df2=merge_rows(df2)
df3=merge_rows(df3)
df4=merge_rows(df4)

In [124]:
df3.iloc[1]['content']

'format() method and the Formatter class share the same syntax for format strings (although in the case of Formatter, subclasses can define their own format string syntax).  The syntax is related to that of formatted string literals, but it is less sophisticated and, in particular, does not support arbitrary expressions. Format strings contain replacement fields surrounded by curly braces {}'

In [125]:
data = pd.concat([df1,df2,df3,df4],axis=0).reset_index().drop(['index'],axis=1)

In [126]:
data

,content,topic,label
0,"In Python, all exceptions must be instances of...",Built-in Exceptions,0
1,The built-in exceptions listed below can be g...,Built-in Exceptions,0
2,"g., an error code and a string explaining the ...",Built-in Exceptions,0
3,User code can raise built-in exceptions. Thi...,Built-in Exceptions,0
4,More information on defining exceptions is a...,Built-in Exceptions,0
...,...,...,...
96,Most of the standard escapes supported by Pyt...,regex,3
97,Unknown escapes of ASCII letters are reserve...,regex,3
98,"Otherwise, it is a group reference. As for s...",regex,3
99,Some of the functions are simplified versions...,regex,3
100,Since match() and search() return None when t...,regex,3

In [127]:
path ='Data/Training/combined_rows_no_overlap.csv'
data.to_csv(path, index=False)

In [7]:
df.dropna()

,content,topic,label
0,"In Python, all exceptions must be instances of...",Built-in Exceptions,0
1,In a try statement with an except clause tha...,Built-in Exceptions,0
2,Two exception classes that are not related v...,Built-in Exceptions,0
3,The built-in exceptions listed below can be g...,Built-in Exceptions,0
4,"Except where mentioned, they have an “associ...",Built-in Exceptions,0
...,...,...,...
293,"The module defines several functions, constan...",regex,3
294,Some of the functions are simplified versions...,regex,3
295,Most non-trivial applications always use the...,regex,3
296,Compiled regular expression objects support t...,regex,3
297,Since match() and search() return None when t...,regex,3

In [3]:
#for test data
path1='Data/Test/exceptions.csv'
path2='Data/Test/Built-in Types.csv'
path3='Data/Test/Strings.csv'
path4='Data/Test/regex.csv'
df1=pd.read_csv(path1)
df2=pd.read_csv(path2)
df3=pd.read_csv(path3)
df4=pd.read_csv(path4)

In [9]:
df4.dropna()

,Id,Body,Title,Tags,text
0,2718196,I needed to strip the Chinese out of a bunch o...,Find all Chinese text in a string using Python...,<python><regex><cjk>,Find all Chinese text in a string using Python...
1,2723485,I made a program in Python and now I whant to ...,Python Regex To VB.net,<python><vb.net><regex>,Python Regex To VB.net I made a program in Pyt...
2,5088821,I have a string (with multiple lines) which co...,how to match lines between pattern using re mo...,<python><regex>,how to match lines between pattern using re mo...
3,8121789,In my python code i want to pattern match a st...,Pattern Match a string for atleast two consecu...,<python><regex>,Pattern Match a string for atleast two consecu...
4,9815095,"I use the regex [,;\s]+ to split a comma, spac...","split a comma, space, or semicolon separated s...",<python><regex>,"split a comma, space, or semicolon separated s..."
...,...,...,...,...,...
94,4221534,Given string I would like to get this output...,python regex grouping,<python><regex>,python regex grouping Given string I would l...
95,1836637,I am doing simple regular expressions in pytho...,python help display regular expression result,<python><regex>,python help display regular expression result ...
96,64247233,I'm struggling to write a regex that extracts ...,"Regex ""AND"" in an expression extract this and ...",<python><regex>,"Regex ""AND"" in an expression extract this and ..."
97,63770358,I have a weird column named in a dataframe th...,Fill missing values in selected columns with f...,<python><regex><pandas><null><fillna>,Fill missing values in selected columns with f...
98,61189020,I need to replace every pattern like: by + a...,How to loop over regex matches and do replacem...,<python><regex><python-re>,How to loop over regex matches and do replacem...

In [10]:
df1['label']=0
df2['label']=1
df3['label']=2
df4['label']=3

In [20]:
# sample 100 rows from df1
df1=df1.sample(n=99)

In [21]:
test = pd.concat([df1,df2,df3,df4],axis=0).reset_index().drop('index',axis=1).dropna()

In [22]:
# count the number of rows in each class
test['label'].value_counts()

0    99
2    99
3    99
1    34
Name: label, dtype: int64

In [23]:
path='Data/Test/combined.csv'
df=pd.read_csv(path)

In [2]:
path ='Data/Test/combined.csv'
data = pd.read_csv(path)
data.head()

,Id,Body,Title,Tags,text,label
0,166198,I'm writing a little debug app for a bit of ki...,How can I capture all exceptions from a wxPyth...,<python><exception><error-handling><wxwidgets>...,How can I capture all exceptions from a wxPyth...,0
1,1291438,"From this question, I'm now doing error handli...","When I catch an exception, how do I get the ty...",<python><exception><exception-handling><error-...,"When I catch an exception, how do I get the ty...",0
2,1350671,My background is in C# and I've just recently ...,"""Inner exception"" (with traceback) in Python?",<python><exception><error-handling>,"""Inner exception"" (with traceback) in Python? ...",0
3,1483429,How do I print the error/exception in the blo...,How do I print an exception in Python?,<python><exception><error-handling>,How do I print an exception in Python? How do ...,0
4,1508467,How can I log my Python exceptions?,Log exception with traceback in Python,<python><exception><logging><error-handling>,Log exception with traceback in Python How can...,0

In [3]:
# list number of rows in each class
data['label'].value_counts()

0    159
2     99
3     99
1     34
Name: label, dtype: int64

In [4]:
# sample 10 rows from each class
df1=data[data['label']==0].sample(n=10)
df2=data[data['label']==1].sample(n=10)
df3=data[data['label']==2].sample(n=10)
df4=data[data['label']==3].sample(n=10)

# combine 4 dataframes into 1
test = pd.concat([df1,df2,df3,df4],axis=0).reset_index().drop('index',axis=1).dropna()

# count the number of rows in each class
test['label'].value_counts()

0    10
1    10
2    10
3    10
Name: label, dtype: int64

In [5]:
# save to csv
path='Data/Training/stackoverflow.csv'
test.to_csv(path, index=False)

In [12]:
# load training combined data
path ='Data/Training/combined_rows_with_overlap.csv'
data = pd.read_csv(path)
data.head()

,content,topic,label
0,"In Python, all exceptions must be instances of...",Built-in Exceptions,0
1,In a try statement with an except clause tha...,Built-in Exceptions,0
2,Two exception classes that are not related v...,Built-in Exceptions,0
3,The built-in exceptions listed below can be g...,Built-in Exceptions,0
4,"Except where mentioned, they have an “associ...",Built-in Exceptions,0

In [23]:
# load training stackoverflow data
path ='Data/Training/stackoverflow.csv'
data2 = pd.read_csv(path)
data2.head()

,Id,Body,Title,Tags,text,label
0,51314925,I'm doing an application to download all files...,How to fix the Telethon's exception BadMessage...,<python><exception><error-handling><telethon>,How to fix the Telethon's exception BadMessage...,0
1,35851782,Consider the following example: The tuple i...,Why does handling multiple exceptions require ...,<python><python-2.7><exception><error-handling>,Why does handling multiple exceptions require ...,0
2,52354405,I was trying to catch a specific exception: ...,Catch specific errors in python,<python><django><python-3.x><exception><error-...,Catch specific errors in python I was trying t...,0
3,12550379,"As far as I know, most of the errnos returned ...",Are errnos contained by python's exceptions th...,<python><linux><sockets><exception><error-hand...,Are errnos contained by python's exceptions th...,0
4,29453733,I'm writing a program that writes data to an E...,xlsxwriter module won't open/close Excel file ...,<python><exception><error-handling><exception-...,xlsxwriter module won't open/close Excel file ...,0

In [24]:
# drop all columns except text and label
data2.drop(['Body', 'Title', 'Tags', 'Id'], axis=1, inplace=True)

In [25]:
# combine 2 dataframes with text as content and label as label
data2.columns=['content', 'label']
data2.head()

                                             content  label
0  How to fix the Telethon's exception BadMessage...      0
1  Why does handling multiple exceptions require ...      0
2  Catch specific errors in python I was trying t...      0
3  Are errnos contained by python's exceptions th...      0
4  xlsxwriter module won't open/close Excel file ...      0

In [26]:
# label value counts
data2['label'].value_counts()

0    10
1    10
2    10
3    10
Name: label, dtype: int64

In [28]:
# create topic column based on label
data2['topic']=data2['label'].map({0:'built-in-exceptions', 1:'built-in-types', 2:'string', 3:'regex'})

In [29]:
# no of rows in data
data.shape

(290, 3)

In [30]:
# concat 2 dataframes
combined = pd.concat([data,data2],axis=0).reset_index().drop('index',axis=1).dropna()
combined.head()

,content,topic,label
0,"In Python, all exceptions must be instances of...",Built-in Exceptions,0
1,In a try statement with an except clause tha...,Built-in Exceptions,0
2,Two exception classes that are not related v...,Built-in Exceptions,0
3,The built-in exceptions listed below can be g...,Built-in Exceptions,0
4,"Except where mentioned, they have an “associ...",Built-in Exceptions,0

In [31]:
combined.shape

(330, 3)

In [32]:
# save to csv
path='Data/Training/combined_rows_with_SO.csv'
combined.to_csv(path, index=False)