In [29]:
# import csv files from data/test_data
import pandas as pd

data = pd.read_csv('data/Test/regex.csv')
data.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,DeletionDate,Score,ViewCount,Body,OwnerUserId,...,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate,ContentLicense
0,2718196,1,2718268.0,NaN,2010-04-27 01:34:29,NaN,25,48966,<p>I needed to strip the Chinese out of a bunc...,27462.0,...,2012-05-05 03:01:20,2019-07-29 16:47:32,Find all Chinese text in a string using Python...,<python><regex><cjk>,2,2,0.0,NaN,2010-04-27 01:34:29,CC BY-SA 3.0
1,2723485,1,NaN,NaN,2010-04-27 17:30:05,NaN,1,110,<p>I made a program in Python and now I whant ...,316758.0,...,NaN,2010-04-27 17:42:39,Python Regex To VB.net,<python><vb.net><regex>,1,0,NaN,NaN,NaN,CC BY-SA 2.5
2,5088821,1,5089070.0,NaN,2011-02-23 09:03:43,NaN,1,3720,<p>I have a string (with multiple lines) which...,602691.0,...,2011-02-23 09:06:47,2011-02-23 10:16:35,how to match lines between pattern using re mo...,<python><regex>,4,0,NaN,NaN,NaN,CC BY-SA 2.5
3,8121789,1,8121808.0,NaN,2011-11-14 12:45:31,NaN,0,632,<p>In my python code i want to pattern match a...,1044140.0,...,NaN,2011-11-14 13:03:24,Pattern Match a string for atleast two consecu...,<python><regex>,3,3,NaN,NaN,NaN,CC BY-SA 3.0
4,9815095,1,9815129.0,NaN,2012-03-22 01:05:04,NaN,4,18824,"<p>I use the regex [,;\s]+ to split a comma, s...",433352.0,...,2012-03-22 01:10:50,2012-03-22 01:26:16,"split a comma, space, or semicolon separated s...",<python><regex>,3,0,NaN,NaN,NaN,CC BY-SA 3.0

In [30]:
# remove all the columns except for id, body, title and tags
data = data[['Id', 'Body', 'Title', 'Tags']]
data.head()

,Id,Body,Title,Tags
0,2718196,<p>I needed to strip the Chinese out of a bunc...,Find all Chinese text in a string using Python...,<python><regex><cjk>
1,2723485,<p>I made a program in Python and now I whant ...,Python Regex To VB.net,<python><vb.net><regex>
2,5088821,<p>I have a string (with multiple lines) which...,how to match lines between pattern using re mo...,<python><regex>
3,8121789,<p>In my python code i want to pattern match a...,Pattern Match a string for atleast two consecu...,<python><regex>
4,9815095,"<p>I use the regex [,;\s]+ to split a comma, s...","split a comma, space, or semicolon separated s...",<python><regex>

In [31]:
# remove everything in between <code> and </code> tags
# remove all the html tags
import re
def remove_code_tags(text):
	    return re.sub(r'<code>.*?</code>', '', text, flags=re.DOTALL)

data['Body'] = data['Body'].apply(remove_code_tags)
data.head()

,Id,Body,Title,Tags
0,2718196,<p>I needed to strip the Chinese out of a bunc...,Find all Chinese text in a string using Python...,<python><regex><cjk>
1,2723485,<p>I made a program in Python and now I whant ...,Python Regex To VB.net,<python><vb.net><regex>
2,5088821,<p>I have a string (with multiple lines) which...,how to match lines between pattern using re mo...,<python><regex>
3,8121789,<p>In my python code i want to pattern match a...,Pattern Match a string for atleast two consecu...,<python><regex>
4,9815095,"<p>I use the regex [,;\s]+ to split a comma, s...","split a comma, space, or semicolon separated s...",<python><regex>

In [32]:
data['Body'] = data['Body'].str.replace('<.*?>', '')

# remove all /n, /t, /r, /u characters
data['Body'] = data['Body'].str.replace(r'[\n\t\r]', ' ')

In [33]:
data.head()

,Id,Body,Title,Tags
0,2718196,I needed to strip the Chinese out of a bunch o...,Find all Chinese text in a string using Python...,<python><regex><cjk>
1,2723485,I made a program in Python and now I whant to ...,Python Regex To VB.net,<python><vb.net><regex>
2,5088821,I have a string (with multiple lines) which co...,how to match lines between pattern using re mo...,<python><regex>
3,8121789,In my python code i want to pattern match a st...,Pattern Match a string for atleast two consecu...,<python><regex>
4,9815095,"I use the regex [,;\s]+ to split a comma, spac...","split a comma, space, or semicolon separated s...",<python><regex>

In [34]:
# save the processed data to a csv file
data.to_csv('data/Test/regex.csv', index=False)