In [1]:
import numpy as np
import pandas as pd

In [2]:
path='D:/FILES/University of Toronto/Subjects/Fall 2022/NLP/project/PyOverflow/Python_results.csv'
df=pd.read_csv(path)

d:\SOFTWARE\Anaconda3\envs\ece1786\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
types_df=df[df['Tags'].isin(['<python><built-in-types>'])]

In [20]:
types_df=df[df['Tags'].isin(['<python><built-in-types>'])]

Id                                                  44493690
PostTypeId                                                 1
AcceptedAnswerId                                  44493862.0
ParentId                                                 NaN
CreationDate                             2017-06-12 07:31:14
DeletionDate                                             NaN
Score                                                      1
ViewCount                                                 35
OwnerUserId                                        5355776.0
OwnerDisplayName                                         NaN
LastEditorUserId                                         NaN
LastEditorDisplayName                                    NaN
LastEditDate                                             NaN
LastActivityDate                         2017-06-12 08:00:42
Title                    Are type on python's builtin unique
Tags                                <python><built-in-types>
AnswerCount                                                1
CommentCount                                               1
FavoriteCount                                            NaN
ClosedDate                                               NaN
CommunityOwnedDate                                       NaN
NumRevisions                                               1
NumContributors                                            1
Name: 592369, dtype: object

In [3]:
types_df=df[df['Tags'].str.contains("<built-in-types>")]
types_df['Id'].tolist()

[50203630,
 25211477,
 17408362,
 38766579,
 19345073,
 17983598,
 44493690,
 54453192,
 4827303,
 29054999,
 6217351,
 33997962,
 50118488,
 14484749,
 6049533,
 59223768,
 30525262,
 16306844,
 7402573,
 7983243,
 4850370,
 13736718,
 58603138,
 4698493,
 49465215,
 9486564,
 55459493,
 16190465,
 4092674,
 41144760,
 60715657,
 1979004,
 28286411,
 54615019]

In [4]:
error_df=df[df['Tags'].str.contains("<error-handling>")]
exception_df=error_df[error_df['Tags'].str.contains("<exception>")]
exception_df['Id'].tolist()

[56524802,
 3891804,
 21553327,
 45621722,
 1483429,
 63336507,
 60508555,
 61755479,
 38463194,
 48884531,
 47103557,
 63494956,
 20030576,
 10324558,
 15451472,
 60914445,
 46890646,
 64715784,
 65097838,
 56049481,
 41996128,
 47954784,
 57108162,
 50129644,
 52696172,
 36653914,
 18218697,
 19192345,
 12488822,
 53250543,
 64904160,
 4676957,
 51757305,
 15909709,
 8491194,
 64548825,
 11173945,
 59924513,
 59046676,
 62952273,
 61811551,
 3950505,
 56580217,
 49309446,
 25405327,
 36747362,
 16943404,
 12550379,
 22338300,
 46632494,
 16986931,
 25523361,
 61304761,
 61895157,
 25257932,
 16777082,
 34712812,
 54623037,
 45153588,
 50247650,
 61309359,
 61498705,
 22132272,
 57518776,
 4572362,
 56008537,
 56521799,
 51741992,
 35851013,
 61735011,
 19579926,
 24643648,
 26062054,
 56904459,
 31618848,
 51314925,
 36662174,
 52354405,
 64404157,
 58173048,
 39892380,
 61786017,
 40722921,
 57615537,
 18000985,
 47637955,
 63979684,
 43751989,
 51212178,
 32601996,
 12283377,
 64178163,
 62948384,
 59435875,
 30477150,
 60688321,
 37224773,
 1291438,
 31514257,
 28144052,
 28201043,
 10103296,
 30878079,
 59856128,
 41381360,
 19935597,
 56588339,
 64869794,
 53396944,
 60159545,
 2739582,
 30633209,
 31146855,
 63585347,
 59869542,
 61908857,
 65073730,
 52307055,
 62107561,
 62340629,
 27662707,
 56800989,
 49015001,
 57160064,
 14625405,
 36157995,
 46090079,
 30834172,
 33284609,
 63234468,
 52674581,
 166198,
 35851782,
 4096087,
 11865685,
 41980401,
 61917457,
 1350671,
 7375492,
 40237349,
 20582750,
 27978889,
 54593320,
 43605512,
 43617092,
 15056187,
 16123529,
 6828160,
 49050030,
 17784849,
 53235877,
 47041472,
 19736188,
 62200818,
 19060821,
 45449635,
 29453733,
 33716330,
 9979735,
 24522290,
 26059424,
 64867908,
 44516268,
 48029399,
 62951781,
 1508467,
 15887038,
 44773345]

In [6]:
string_df=df[df['Tags'].str.contains("<string>")]
len(string_df['Id'].tolist())

26348

In [7]:
string_df=df[df['Tags'].str.contains("<regex>")]
len(string_df['Id'].tolist())

32506